@page "/"
@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<PageTitle>Index</PageTitle>

<div class="text-white">

    @if (user == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="flex flex-col items-center justify-center">
            <h2 class="font-bold text-4xl">Welcome @user.DisplayName</h2>
        </div>
    }

    <AuthorizeView>
        <Authorized>
            @foreach (var claim in @context.User.Claims)
            {
                <h2>@claim.Value</h2>
            }
        </Authorized>
    </AuthorizeView>
</div>

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}