@page "/"
@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@inject NavigationManager NavigationManager

<PageTitle>Dashboard</PageTitle>

<div class="text-white bg-gray-800 flex flex-col flex-grow p-3 gap-10">

    @*@if (user is not null)
    {
        <div class="flex flex-col items-center justify-center">
            <h2 class="font-bold text-4xl">Welcome @user.DisplayName</h2>
        </div>
    }*@

   @* <div class="flex flex-col items-center justify-center">
        <h2 class="font-bold text-4xl">Dashboard</h2>
    </div>

    <div class="flex items-center justify-between mx-auto gap-28">
        <div class="bg-gray-900 w-[500px] h-[100px] flex items-center justify-center rounded-md hover:cursor-pointer"
            @onclick="() => NavigateToToDos()">
            <h2 class="font-bold">Microsoft To Do</h2>
        </div>

        <div class="bg-gray-900 w-[500px] h-[100px] flex items-center justify-center rounded-md hover:cursor-pointer"
             @onclick="() => NavigateToToMails()">
            <h2 class="font-bold">Outlook Mail</h2>
        </div>
    </div>*@

    <div class="bg-gray-900 rounded-lg">
        <div class="p-3 flex flex-col gap-3">
            <h1 class="font-bold text-2xl">Microsoft To Do</h1>
            <div class="flex items-center gap-3 hover:bg-gray-800 px-3 py-3 rounded-md" @onclick="() => NavigateToToDos()">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.749 2a2.25 2.25 0 0 1 2.25 2.25v15.5a2.25 2.25 0 0 1-2.25 2.25H6.25A2.25 2.25 0 0 1 4 19.75V4.25A2.25 2.25 0 0 1 6.25 2h10.499ZM20 15.002h.75a.75.75 0 0 1 .743.648l.007.102v1.498a.75.75 0 0 1-.648.743L20.75 18H20v-2.998h.75H20Zm0-4h.75a.75.75 0 0 1 .743.648l.007.102v1.498a.75.75 0 0 1-.648.743L20.75 14H20v-2.998h.75H20Zm0-4h.75a.75.75 0 0 1 .743.648l.007.102V9.25a.75.75 0 0 1-.648.743L20.75 10H20V7.002h.75H20Zm-5.246-1.505H8.25a.75.75 0 0 0-.743.649l-.007.101v1.504c0 .38.283.693.649.743l.101.007h6.503a.75.75 0 0 0 .743-.648l.007-.102V6.247a.75.75 0 0 0-.75-.75Z" fill="#ffffff" /></svg>
                <h2>
                    View and manage your Tasks on Microsoft To Do app.
                </h2>
            </div>
        </div>

        <div class="p-3 flex flex-col gap-3">
            <h1 class="font-bold text-2xl">Outlook</h1>
            <div class="flex items-center gap-3 hover:bg-gray-800 px-3 py-3 rounded-md" @onclick="() => NavigateToToMails()">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21 7.511a3.247 3.247 0 0 1 1.5 2.739v6c0 2.9-2.35 5.25-5.25 5.25h-9A3.247 3.247 0 0 1 5.511 20H17.25A3.75 3.75 0 0 0 21 16.25V7.511Zm-1 .599v7.64a3.25 3.25 0 0 1-3.066 3.245L16.75 19H5.25a3.25 3.25 0 0 1-3.245-3.066L2 15.75V8.11l8.65 4.554a.75.75 0 0 0 .7 0L20 8.11ZM5.25 4h11.5a3.251 3.251 0 0 1 3.155 2.466L11 11.152 2.095 6.466a3.252 3.252 0 0 1 2.966-2.46L5.25 4Z" fill="#ffffff" /></svg>
                <h2>
                    View and manage your mails on Outlook.
                </h2>
            </div>
        </div>
    </div>

</div>

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private void NavigateToToDos()
    {
        NavigationManager.NavigateTo("/todos");
    }

    private void NavigateToToMails()
    {
        NavigationManager.NavigateTo("/mails");
    }
}