@page "/todos"
@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<div class="bg-blue-300">

    @if (todoTaskList is not null)
    {
        <div class="flex flex-col justify-center mt-5">
            @foreach (var todo in todoTaskList)
            {
                <h2>@todo.DisplayName</h2>
    
                @* if(todo.Tasks is not null){
        foreach(var task in todo.Tasks){
        <h3>@task.Title</h3>
        <h3>@task.Status</h3>
        }
        } *@
            }
        </div>
    }
</div>

@code {
    ITodoListsCollectionPage? todoTaskList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todoTaskList = await GraphServiceClient.Me.Todo.Lists.Request().GetAsync();
            foreach (var item in todoTaskList)
            {
                var tasks = await GraphServiceClient.Me
                .Todo
                .Lists[item.Id]
                .Tasks
                .Request()
                .GetAsync();
                tasks.ToList();
                item.Tasks = tasks;
            }
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}
