@inherits LayoutComponentBase

<PageTitle>BlazorSample</PageTitle>

<main class="flex flex-col h-screen h-max-screen">
    <div class="bg-gray-900 text-white h-14 flex items-center justify-between px-3">
        <div class="font-bold text-xl select-none">
            <h1>MSPortal</h1>
        </div>
        <div>
            <LoginDisplay />
        </div>
    </div>

    <div class="flex flex-grow flex-col">
        @Body
    </div>
</main>
