@inherits LayoutComponentBase

<PageTitle>BlazorSample</PageTitle>

<div>
    <main>
        <div class="bg-gray-800 text-white h-12 flex items-center justify-between px-3">
            <div class="font-bold">
                <h1>GRAPH .NET SDK</h1>
            </div>
            <div>
                <LoginDisplay />
            </div>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
