@inherits LayoutComponentBase

<PageTitle>BlazorSample</PageTitle>

<div>
    <main>
        <div>
            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
